/* Base Reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Noto Serif KR', serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
